/* Светлая тема */
.page-link {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}
:root {
    --pagination-text-color: #000;
    --pagination-hover-color: #011d39;
    --pagination-active-color: #007bff;
   }
   
   /* Темная тема */
   .dark {
    --pagination-text-color: #fff;
    --pagination-hover-color:rgba(2, 86, 107, 0.2);
    --pagination-active-color: #007bff;
   }
   
   .pagination {
    position: relative;
  height: 50px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  border-radius: 2px;

   }
   
   
   .page-link {
    position: relative;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
   }
   
   .page-link:hover {
    background-color: var(--pagination-hover-color);
   
   }
   
   .active .page-link {
    background: rgba(2, 86, 107, 0.2);
   }
   
   .disabled .page-link {
    color: #6c757d;
    cursor: not-allowed;
   }