html, body {
    min-height: 100% !important;
    height: 100%;
    
}

.no-select {
    user-select: none;
    -webkit-user-select: none; /* For Safari and Chrome */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer */
}
.table-content {
    overflow-y: hidden;
   }